body {
  background-color: white;
}
.header {
  background-color: #76e4eb;
  height: 48px;
}
.container {
  max-width: 987px;
  background-color: transparent;
  margin: 0 auto;
}

.hero-banner {
  background-color: transparent;
}

.square {
  background-color: #315fa4;
  height: 620px;
  width: 399px;
  margin-bottom: 0;

  margin-right: 20px;
  display: inline-block;
}

.column:nth-child(2) {
  margin-right: 0;
}
